html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: var(--selected-item-color);
}
img {
    -webkit-user-drag: none;
}
.titlebar {
    position: fixed;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(var(--topbar-color) / var(--topbar-opacity)) 
}
.sidebar {
    position: fixed;
    top: 20px;
    bottom: 20px;
    width: 110px;
    box-sizing: border-box;
    user-select: none;
    background-color: rgb(var(--sidebar-color) / var(--sidebar-opacity)) 
}
.downbar {
    background: var(--downbar-color);
    opacity: var(--downbar-opacity);
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 20px;
    user-select: none;
}
.draggable {
    display: flex;
    padding: 5pt;
    justify-content: space-between;
    user-select: none;
    -webkit-app-region: drag;
}
.nodrag {
    -webkit-app-region: no-drag;
}
input[type=file]::file-selector-button {
    color: var(--text-color);
    background-color: var(--button-color);
    border-color: var(--button-border-color);
    padding: 5px 10px;
    border-width: 1px;
    cursor: pointer;
}
input[type=file]::file-selector-button:hover {
    filter: brightness(150%) 
}
.button {
    color: var(--button-text-color);
    background-color: var(--button-color);
    opacity: var(--button-opacity);
    padding: 5px 30px;
    cursor: pointer;
    border-width: 1px;
    border-color: var(--button-border-color);
}
.button-selected {
    border-color: var(--selected-item-color);
    border-left: 5px solid;
}
.button:hover {
    filter: brightness(110%) 
}
.input-group {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.btn.close:hover {
    filter: brightness(0) saturate(100%) invert(16%) sepia(85%) saturate(7467%) hue-rotate(359deg) brightness(97%) contrast(108%) 
}
.btn.minimize:hover {
    filter: brightness(0) saturate(100%) invert(75%) sepia(96%) saturate(548%) hue-rotate(3deg) brightness(108%) contrast(103%) 
}
.center-elements {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.tab-selected {
    border-left: 5px solid;
    color: var(--selected-item-color);
    opacity: var(--selected-item-opacity);
}
.tab.active {
    border-color: var(--selected-item-color);
    border-left: solid 5px var(--selected-item-color);
}
.tab-pane {
    display: none;
    margin-top: 10px;
}
.tab-pane.active {
    display: block;
}
.contentArea {
    user-select: none;
    position: fixed;
    top: 30px;
    left: 110px;
    width: 100%;
    height: 100%;
}
.bottingContentArea {
    user-select: none;
    margin-top: 205px;
    width: 200px;
    height: 100%;
}
.input {
    color: rgb(var(--text-color) / var(--text-opacity));
    position: relative;
    height: 2rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size: 0.875rem;
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: var(--button-border-color);
    background-color: transparent;
}
.input-sm {
    color: rgb(var(--text-color) / var(--text-opacity));
    position: relative;
    top: -2px;
    width: 5rem;
    font-size: 0.8rem;
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: var(--button-border-color);
    background-color: transparent;
}
input:focus {
    outline: none;
}
input::placeholder, textarea::placeholder {
    opacity: 0.5;
    color: var(--text-color);
}
.select {
    color: var(--button-text-color);
    background-color: var(--button-color);
    cursor: pointer;
    user-select: none;
    border: none;
    height: 33px;
}
.bgimg {
    content: var(--background-image) 
}
.select-input {
    color: var(--text-color);
    background-color: var(--bg-color);
    cursor: pointer;
    user-select: none;
    border: none;
}
select:focus {
    outline: none;
}
.text-input {
    color: rgb(var(--text-color) / var(--text-opacity));
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: var(--button-border-color);
    background-color: transparent;
}
input:focus {
    outline: none;
}
.label {
    display: flex;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.label-text {
    font-size: 20px;
    line-height: 1rem;
}
.error-text {
    color: #ff0000;
}
ul {
    background-color: var(--ul-bg-color);
    opacity: var(--ul-opacity);
    padding: 0px 0px;
    overflow: scroll;
    border: var(--button-border-color);
    border-style: solid;
    border-width: 1px;
    list-style-type: none;
}
ul li {
    overflow-wrap: break-word;
    border: var(--button-border-color);
    border-bottom: 1px solid;
}
.textbox {
    height: 400px;
    width: 300px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: solid var(--button-border-color) 1px;
    padding: 10px;
    resize: none;
    outline: none;
}
.m-1 {
    margin-left: 0.25rem;
}
.m-4 {
    margin-left: 1rem;
}
.m-8 {
    margin-left: 2rem;
}
.mu-4 {
    margin-top: 1rem;
}
.p-4 {
    padding: 1rem;
}
.pl-4 {
    padding-left: 1rem;
}
.p-1 {
    padding: 0.25rem;
}
.p-0 {
    padding: 0px;
}
.flex {
    display: flex;
}
.flex-colum {
    flex-direction: column;
}
.border {
    padding: 10px;
    border: 2px solid #bac0f21a;
}
.border-sm {
    border: 2px solid #bac0f21a;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    opacity: 0.5;
    transition: ease-in-out 0.2s;
}
.container input:checked~.checkmark {
    background-color: var(--bg-color);
    border: solid var(--button-color);
    opacity: 1;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.icon-sm {
    width: 18px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 1px;
}
.error-icon {
    filter: brightness(0) saturate(100%) invert(13%) sepia(95%) saturate(6636%) hue-rotate(1deg) brightness(107%) contrast(97%);
}
.icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7442%) hue-rotate(318deg) brightness(95%) contrast(109%);
}
.icon:hover {
    filter: brightness(0) saturate(100%) invert(85%) sepia(6%) saturate(4808%) hue-rotate(189deg) brightness(100%) contrast(90%);
}
.botSelected {
    background-color: var(--selected-item-color);
}
.popup-content {
    position: relative;
    right: -100%;
    width: fit-content;
    padding: 5px 5px;
    margin: 1px;
    background-color: var(--button-color);
    border: 1px solid var(--downbar-color);
    transition: all 0.5s ease-out;
    user-select: none;
}
.popup-content.hide {
    opacity: 0;
    pointer-events: none;
}
.popup {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 5px;
}
.popup:hover {
    display: block;
}
:root {
    --background-image: url('../icons/app/Background.svg');
    --bg-color: #0c0d11;
    --text-color: #f6f5f5;
    --button-color: #5b8191;
    --button-text-color: #f6f5f5;
    --button-opacity: 1;
    --button-border-color: #454864;
    --ul-bg-color: #171a25;
    --ul-opacity: 0.7;
    --downbar-color: #3D75C9;
    --selected-item-color: #00e1ff88;
    --selected-item-opacity: 1;
    --downbar-opacity: 1;
    --sidebar-color: 0 0 0;
    --sidebar-opacity: 0.2;
    --topbar-color: 0 0 0;
    --topbar-opacity: 0.6;
}
